*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:'Segoe UI', sans-serif;
    min-height: 100vh;
    background-color: #f3e6d4;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:#d5bba6;
    height: 15dvh;
    padding: 20px 40px;
    z-index: 10000;
}

h1{
    font-size: 2rem;
    color:white;
}

.header__nav-list{
    display: flex;
    list-style: none;
    gap: 25px;
}

.header__nav-item a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    transition: 0.3s;
}

.header__nav-item a:hover{
    color: #4a2c2a;
}


.main__presentacion{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px;
    max-width:100%;
    height: 90dvh;
    align-items: center;
    text-align: center;
    padding: 40px;
    margin: auto;

}

main h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #4a2c2a;
    margin-top: 70px;
}

main p{
    font-size: 1.2rem;
    color:#4a2c2a;
}

footer{
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
.contenedor__catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    width: 100%;
}
.contenedor__catalogo_items{
    width: 250px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease;
    
   }
   .contenedor__catalogo_items:hover{
    transform: scale(1.11);
    box-shadow: #c78c55 0px 8px 20px;
}
.catalogo_imagen{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}
